[Unit]
Description=shadowsocks redir
Wants=network.target network-online.target networking.service

[Service]
Type=simple
ExecStart=/usr/local/bin/ss-redir -v -c /etc/shadowsocks.conf -l 1081
StandardOutput=syslog
StandardError=inherit

[Install]
WantedBy=multi-user.target 

